@import 'tailwindcss';

#root {
  margin: 0;
  padding: 0;
}

/* Certificate Generation Page */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 8px;
  padding: 16px;
}

.section {
  box-sizing: border-box;
  padding: 16px;
}

.certificate-details {
  flex: 1;
  max-width: 70%;
}

.from-excel {
  flex: 1;
  max-width: 30%;
}

@media (max-width: 768px) {
  .certificate-details,
  .from-excel {
    max-width: 100%;
  }
}

.certificate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.certificate-iframe {
  width: 100%;
  height: 50vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 800px;
}

@media (max-width: 900px) {
  .certificate-iframe {
    height: 50vh;
  }
}
